<% content_for(:head) do %>
  <%= javascript_include_tag 'tables.js' %>
<% end %>

<h1 class="alert alert-success">Todos os Cursos</h1>

<p id="notice"><%= notice %></p>

<div class="background_content">
  <table class="table table-hover table-striped" id="tabelas">
    <thead class="bg-success">
      <tr>
        <th>Nome Curso</th>
        <th>Categoria</th>
        <th>Data Conclusao</th>
        <th></th>
        <th></th>
        <th></th>
        <!--<th colspan="3"></th>-->
      </tr>
    </thead>
    <tbody>
      <% @cursos.each do |curso| %>
        <tr>
          <td><%= curso.nome_curso %></td>
          <td><%= curso.categoria %></td>
          <td><%= curso.data_conclusao %></td>
          <td><%= link_to 'Visualizar', curso, class:"btn btn-primary" %></td>
          <td><%= link_to 'Editar', edit_curso_path(curso), class:"btn btn-warning" %></td>
          <td><%= link_to 'Deletar', curso, class:"btn btn-danger", method: :delete, data: { confirm: 'Deseja mesmo deletar?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>