<!DOCTYPE html>
<html>
  <head>
    <title>ControleCursos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= nav_bar fixed: :top, brand: "Home", brand_link: root_path do %>
      <%= menu_group do %>
        <%= menu_item "Criar novo curso", new_curso_path %>   
        <%= menu_item "Visualizar todos os cursos", todos_cursos_path %>   
        <%= menu_item "Visualizar por categorias", categorias_path %>   
      <% end %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
